---
import Button from "./ui/button";
---

<section class="">
  <h3 class="font-bold text-5xl text-center">
    Des <span class="text-[#623dff]">mises à jours régulières</span> et un <span
      class="text-[#623dff]">support actif</span
    >
  </h3>
  <div class="text-center py-5">
    <Button client:load>Rejoindre la communauté</Button>
  </div>
</section>
